:root{
    --color-red-bold: red;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: orange;
    padding: 1rem 0;
}

main .container .container-cards .card img{
    width: 100%;
}

main .container .container-cards .card small{
    font-size: 0.7rem;
}

ul{
    list-style-type: none;
    display: flex;
    gap: .5rem;
}

.container{
    width: 920px;
    margin: auto;
}

.container-menu{
    display: flex;
    justify-content: space-between;
}

header nav .container .container-menu img{
    width: 100px;
}

.container-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 1rem;
}

.card{
    flex-basis: 30%;
    flex-grow: 1;
}

.price{
    font-size: .7rem;
    display: flex;
    gap: .5rem;
}

.sale-price{
    color: var(--color-red-bold);
    font-weight: bold;
}