:root{
    --color-red: red;
    --color-white: white;
    --color-green: green;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: orange;
}

header .container .container-menu a{
   text-decoration: none;
   color: var(--color-white);
   padding: 1rem 0;
}

main .container .container-cards .card img{
    width: 100%;
}

main .container .container-cards .card small{
    font-size: 0.7rem;
}

.card:hover .top-img
{
    opacity: 1;
}

li{
    padding: 1rem 0;
}

ul{
    list-style-type: none;
    display: flex;
    gap: .5rem;
}

.container{
    width: 920px;
    margin: auto;
}

.container-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .container .container-menu img{
    width: 8rem;
}

.container-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 1rem;
}

.card{
    flex-basis: 30%;
    flex-grow: 1;
}

.price{
    font-size: .7rem;
    display: flex;
    gap: .5rem;
}

.sale-price{
    color: var(--color-red);
    font-weight: bold;
}

.square{
    background-color: var(--color-red);
    padding: .5rem .7rem;
    color: var(--color-white);
}

.green{
    background-color: var(--color-green);
}

.red{
    background-color: var(--color-red);
}

.white{
    background-color: var(--color-white);
}

.sale-sost{
    font-size: .7rem;
    display: flex;
    gap: .5rem;
    position: absolute;
    bottom: 2rem;
}

.relative{
    position: relative;
}

.heart{
    position: absolute;
    top: 1rem;
    right: 0;
    padding: .5rem;
}

.top-img{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
