*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: orange;
    padding: 1rem 0;
}

ul{
    list-style-type: none;
    display: flex;
    gap: .5rem;
}

.container{
    width: 920px;
    margin: auto;
}

.container-menu{
    display: flex;
    justify-content: space-between;
}

header nav .container .container-menu img{
    width: 100px;
}
